* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-image: url(Images/Fundo.png);
    /* background-repeat: repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    animation: FundoMexer 20s infinite;
    animation-timing-function: linear;
    

}

 @keyframes FundoMexer {
    
    0% {background-position: 0px 0px;}
    100% {background-position: 1920px 0px;}

}

 .Secoes {

    border-bottom: 1px solid black;
    background-color: aqua;
    width: 100vw;
     height: 7vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

 .Secao {

    background-color: none;
    width: 15vw;
    text-align: center;
    font-size: 1.1em;

}

.Container {

     height: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;

}

.Tela {
    
    width: 80%;
    

}

.texto {

    text-align: justify;
    width: 80vw;
    background-color: white;

}

.Container2 {

    height: 12vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;


}

.Botao{

    border: 1px solid black;
    background-color: white;
    width: 35vw;
    height: 25px;
    text-align: center;     
    

}