* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-image: url(Images/Fundo.png);
    /* background-repeat: repeat; */
    /* background-size: cover; */
    background-attachment: fixed;
    animation: FundoMexer 20s infinite;
    animation-timing-function: linear;
    

}

 @keyframes FundoMexer {
    
    0% {background-position: 0px 0px;}
    100% {background-position: 1920px 0px;}

}

 .Secoes {

    border-bottom: 1px solid black;
    background-color: aqua;
    /* width: 100vw; */
    height: 7vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    
}

 .Secao {

    background-color: none;
    width: 15vw;
    text-align: center;
    font-size: 1.1em;
    transition: all 0.2s;

}

.Secao:hover {

    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 0, 0);


}

.Container {
 
    height: 650px;
    width: 80vw;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0% 2% 0 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;

}

.Tela {
    
    width: 100%;
    max-width: 280px;
    min-height: 165px;
    

}

.texto {

    text-align: justify;
    width: 70vw;
    padding: 5px;
    border-radius: 5px;

}

.Botao{

    border: 1px solid black;
    background-color: white;
    width: 35vw;
    text-align: center;
    border-radius: 5px;
      
    
}

.Container3 {

    /* margin-top: 3vh; */
    height: 3000px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 5vh auto;
    border-radius: 5px;
    display: none;


}

.Titulos {

    font-size: 2.5em;

}

.IMG1 {

    width: 60%;
    max-width: 150px;
    border-radius: 5px;

}

.texto2 {

    background-color: white;
    padding: 5px;
    border-radius: 5px;

}

.Container4 {

    width: 80vw;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 5vh auto;
    padding: 3%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;

}

.texto3 {

    text-align: justify;

}